<div id="custom-designer-section" class="pb-8 pt-8 bg-slate-300 scroll-fade-in">
  <div class="nct-page-width">

    <div class="content-header text-center mb-4">
      <h2 class="text-2xl pb-2">The <span class="text-3xl font-bold italic text-flagred">Design Lab</span></h2>
      <p class="text-slate-700">Create your own design!</p>
    </div>

    <div class="flex flex-row gap-4 p-4">
      <div class="w-1/2">
        <img src="assets/custom-designer-ad.webp" alt="">
      </div>

      <div class="w-1/2">
        <h2 class="text-3xl font-bold text-flagblue pb-4">Express your Individuality!</h2>
        <p class="pb-4">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus vel laboriosam harum ipsam est aliquam quaerat numquam, optio enim rerum iste magnam modi accusamus soluta suscipit repellat ipsum magni sint.
        </p>
        <ul class="space-y-4 mb-8">
          <li><strong>Custom:</strong> Upload your own designs</li>
          <li><strong>Suppport:</strong> Have our expert designers help you</li>
          <li><strong>Quality:</strong> We are committed to providing you with the best service in the industry</li>
        </ul>
        <button class="bg-flagred text-white py-2 px-4 rounded">Go to Design Lab</button>
      </div>
    </div>

  </div>
</div>