
<div>
    <h1 class="text-3xl font-bold text-pretty mb-8 text-flagred text-center">Get a Free Quote</h1>

    <form>
        <div class="grid gap-6 mb-6 md:grid-cols-3">
            <div>
                <label for="full_name" class="block mb-2 text-sm font-medium text-white">Full Name</label>
                <input type="text" id="full_name" class="bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="John Doe" required />
            </div>
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-white ">Email</label>
                <input type="text" id="email" class="bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="john.doe@email.com" required />
            </div>
            <div>
                <label for="phone_number" class="block mb-2 text-sm font-medium text-white ">Phone</label>
                <input type="text" id="phone_number" class="bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="123-456-7890" required />
            </div>
        </div>
        <div class="mb-6">
            <label for="project_description" class="block mb-2 text-sm font-medium text-white ">Project Description</label>
            <textarea id="project_description" class="bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="33 black shirts" required></textarea>
        </div> 
        <button type="submit" class="text-white bg-flagred hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center uppercase">Submit</button>
    </form>
</div>