<div class="mb-8">
  <div class="nct-page-width flex justify-between bg-[url('/assets/contact-flag.webp')] bg-no-repeat bg-cover">
    <div class="w-1/2 z-5 p-4 bg-white/85">
      <h1 class="text-3xl font-bold text-pretty mb-4 text-flagred">National Custom Tees: Custom T&#x2011;shirts and Embroidery for All!</h1>
      <h2 class="text-2xl font-bold text-flagblue">Incredible Selection</h2>
      <p class="text-xl text-pretty">We offer you an incredible selection of items that you can customize to suite your individual needs.</p>
      <h2 class="text-2xl font-bold text-flagblue">Custom Designs</h2>
      <p class="text-xl text-pretty">We have an amazing custom design system that allows you to express your unique style.</p>
      <h2 class="text-2xl font-bold text-flagblue">Quality Service</h2>
      <p class="text-xl text-pretty">We are committed to providing you with the best service in the industry.</p>
    </div>
    <div class="w-1/2 z-5 p-4 bg-flagblue2">
      {% include "form.njk" %} 
    </div>
  </div>
</div>