<div id="faq-section" class="mb-16 scroll-fade-in">
  <div class="nct-page-width flex justify-center mb-8">

    <div class="w-full">

      <div class="content-header text-center my-8">
        <h2 class="text-2xl pb-2">Our <span class="font-bold italic text-3xl text-flagred">Happy Customers</span></h2>
        <p class="text-slate-500">We are committed to providing you with the best service in the industry</p>
      </div>

      {% include "review-carousel.njk" %}

    </div>

  </div>

  <div class="nct-page-width flex justify-center gap-4">
    <img class="h-12 w-24" src="assets/google_reviews.webp" alt="">
    <img class="h-12 w-24" src="assets/yelp_reviews.webp" alt="">
  </div>
</div>